
#emulationToolbar td
{
	color:white;
	font-size: 12px;
}

#emulationToolbar .cssNameTag
{

	color:white;
	text-align:center;
}

#emulationToolbar .cssNameTagIE
{
	color:white;
	text-align:center;
}

#emulationToolbar .cssTableStyle
{
	color:white;
	z-index:102;
	position:absolute;
	background-color:#666666;
	border:solid 1px #666666;
	text-align:left;
	width:40px;
	font-family: Trebuchet MS;
	font-size: 12px;
	
}

#emulationToolbar .fontSizeTag
{
	color:white;
	text-align:center;
}

#emulationToolbar .fontSizeTagIE
{
	color:white;
	text-align:center;
}

#emulationToolbar .fontSizeTableStyle
{
	color:white;
	z-index:102;
	position:absolute;
	background-color:#666666;
	border:solid 1px #666666;
	width:45px;
	font-family: Trebuchet MS;
	font-size: 12px;
	text-align:center
}

#emulationToolbar .rowOver
{
	color:white;
	background-color:#333333;
}
