<table border="0" id="gx_screenLocker"
style="z-index:-1;position:absolute; TOP: 1px;display:none;" width="100%">
	<tr height="55%">
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td width=20%>&nbsp;</td>
		<td><div><div style="float: left;"><img id="screenlocker" imageName="clock32.png"  src=""  width="32px" height="32px"/></div><div style="float:left; padding-top: 7px; color: #808080; height: 32px; font-family: Tahoma, Geneva, sans-serif; font-weight: bold;width: 200px;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;transition: all 1s ease-in-out;">Please Wait</div></div></td>
		<td width=60%>&nbsp;</td>
	</tr> 
	<tr height=25% colspan=4> 		
		<td>&nbsp;<td>
	</tr>
</table>