<td align="right" valign="middle"
	style="height: 30px;">	
	<table width="100%"  cellspacing="0" cellpadding="0" border="0"  style="padding: 0;">
		<tr style="background-color: #F0F0F0; height: 40px; border-spacing: 0px;">
			<td colSpan="2" valign="top">
				<table cellpadding="0" cellspacing="0" style="border-spacing: 0;">
						<tr>
							<td valign="top"
								style="padding-left: 50px; padding-right: 15px; padding-top: 3px; padding-bottom: 0px">
									<input type="image" imageName="toolbar/img_BlueFlagSAG_100x36.png"
										id="sagImg" onclick="return false;"/></td>
							<td valign="bottom"
								style="Color: #093655; font-size: 22px; font-family:'Avenir LT W01_95 Black1475556', Arial;padding-top:12px">ApplinX
								Web Application</td>
						</tr>
				</table>
			</td>
			<td align="right">
				<table cellspacing="0" cellpadding="0">
					<tr>						
						<td style="padding-left: 20px"><span style="margin:0px;padding: 0px;display: none;"
							id="gx_changeDirectionTrigger"> <input
								type="image" imageName="toolbar/newjsp/screen_LTR_24_hover.png"
								onmouseover="GXToolBarUtil.updateImageOnMouseOver(this);return false;" 
								onclick="GXToolBarUtil.updateImageOnMouseClick(this);gx_changeScreenDirection();return false;"
								onmouseout="GXToolBarUtil.updateImageOnMouseOut(this);return false;" width="24" height="24"
								id="changeDirection" title="change direction"
								ltr_Basic = "toolbar/newjsp/screen_LTR_24_original.png"  ltr_Hover= "toolbar/newjsp/screen_LTR_24_hover.png" rtl_Basic = "toolbar/newjsp/screen_RTL_24_original.png" rtl_Hover = "toolbar/newjsp/screen_RTL_24_hover.png"
								/>
						</span></td>
						<td style="padding-left: 20px"><input type="image"
							imageName="toolbar/newjsp/refresh_24_original.png"
							onclick="gx_engine.cancelLogoff();location.href=location.href;GXToolBarUtil.resetImage(this);return false;"
							onmouseover="GXToolBarUtil.updateImageOnMouseOver(this);window.status='Reload page';return true;"
							onmouseout="GXToolBarUtil.updateImageOnMouseOut(this);window.status='';return true;"
							width="24" height="24" id="refresh" title="refresh" /></td>
						<td style="padding-left: 20px"><input type="image"
							imageName="toolbar/newjsp/gears_24_original.png"
							onclick="return GXToolBarUtil.openConfigurationOnClick(this);"
							onmouseover="GXToolBarUtil.updateImageOnMouseOver(this);"
							onmouseout="GXToolBarUtil.updateImageOnMouseOut(this);" width="24" height="24"
							id="config" title="configuration" /></td>
						<td style="padding-left: 20px"><input type="image"
							imageName="toolbar/newjsp/pf_24_original.png" width="24" height="24" id="custom"
							onclick="GXToolBarUtil.resetImage(this);return SubmitCustomKey();"
							onmouseover="GXToolBarUtil.updateImageOnMouseOver(this);"
							onmouseout="GXToolBarUtil.updateImageOnMouseOut(this);" title="send to host ..."
							value="Other..." /></td>
						<td style="padding-left: 20px">
							<img alt="" imageName="toolbar/newjsp/exit_24_original.png"  height="24" width="24" onclick="return GXToolBarUtil.logOffOnClick(this);"
							onmouseover="GXToolBarUtil.updateImageOnMouseOver(this);" id="logoff"
							onmouseout="GXToolBarUtil.updateImageOnMouseOut(this);" formtarget="_top" />
							</td>
						</tr>
					</table>
				</td>
		</tr>
	</table>
</td>
