<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!--  Used for printer redirector only -->
	<context-param>
	     <param-name>GXServerURL</param-name>
	     <param-value>applinx://localhost:2323</param-value>
	</context-param>
	
	<context-param>
    	<param-name>log4jConfiguration</param-name>
		 <param-value>/config/gx_logConfig.xml</param-value>
    </context-param>
	
   	<!-- Listeners -->

	<!-- Next listener should be uncommented whenever the servlet redirector is used -->
	<!--listener>
		<listener-class>
			com.sabratec.j2ee.http.redirector.servlet.GXRedirectorServletSessionListener
		</listener-class>
	</listener-->

	<!-- Next listener should be uncommented whenever using WAR redeploy (without restarting Tomcat) -->
	<!--listener>
		<listener-class>
			com.sabratec.j2ee.http.servlet.GXApplicationScopeEventsServlet
		</listener-class>
	</listener-->


<!-- ******************************************************************************
	NOTE:
		In order to run ApplinX as a module within the Framework Application,
		uncomment the 2 commented sections (servlet & servlet-mapping) and follow these steps :
		1. Replace $APPLINX_HOMDIR with your ApplinX installation directory
		2. Replace $LOGGER_MODE with one of these values:
			appserver - the logging info will be redirected to your application server log file
			applinx - the logging info will be redirected to applinx log file.
		3. If you have properties file for configuration changes you need to set the path in
			com.sabratec.prpfile param value.
	****************************************************************************** -->

<!-- *****************    BEGIN COMMENT  - UNCOMMENT FOR RUNNING APPLINX SERVER IN LOCAL MODE  *****
	<servlet id="applinx_servlet">
		<servlet-name>applinx</servlet-name>
		<servlet-class>com.sabratec.applinx.server.runtime.servlet.GXApplinxServlet</servlet-class>
		<init-param>
			<param-name>com.sabratec.gxhome</param-name>
			<param-value>$APPLINX_HOMEDIR</param-value>
		</init-param>
		<init-param>
			<param-name>com.sabratec.logger</param-name>
			<param-value>$LOGGER_MODE</param-value>
		</init-param>
		<init-param>
			<param-name>com.sabratec.prpfile</param-name>
			<param-value></param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>
	<servlet id="metadata_servlet_new">
		<servlet-name>services</servlet-name>
		<servlet-class>com.sabratec.applinx.server.runtime.servlet.metadata.GXServletMetadata</servlet-class>
	</servlet>
	<servlet id="generatecode_csharp_servlet">
		<servlet-name>generatecode_csharp</servlet-name>
		<servlet-class>com.sabratec.applinx.server.runtime.servlet.GXCSharpGenerateCodeServlet</servlet-class>
	</servlet>
	<servlet id="generatecode_vbnet_servlet">
		<servlet-name>generatecode_vbnet</servlet-name>
		<servlet-class>com.sabratec.applinx.server.runtime.servlet.GXVBGenerateCodeServlet</servlet-class>
	</servlet>
	<servlet id="generatecode_java_servlet">
		<servlet-name>generatecode_java</servlet-name>
		<servlet-class>com.sabratec.applinx.server.runtime.servlet.GXJavaGenerateCodeServlet</servlet-class>
	</servlet>
	<servlet id="generate_screens_servlet">
		<servlet-name>generate_screens</servlet-name>
		<servlet-class>com.sabratec.applinx.server.runtime.servlet.GXGenerateScreenServlet</servlet-class>
	</servlet>
	<servlet id="generate_page_servlet">
		<servlet-name>generate_page</servlet-name>
		<servlet-class>com.sabratec.applinx.server.runtime.servlet.GXGeneratePageServlet</servlet-class>
	</servlet>
*****************     END COMMENT    ************************************************************* -->


	<!-- ApplinX framework required definitions -->
	<servlet id="z_resourceReader">
		<servlet-name>z_resourceReader</servlet-name>
		<servlet-class>com.sabratec.applinx.j2ee.framework.web.GXFrameworkResourcesServlet</servlet-class>
	</servlet>
	<servlet id="z_redirector">
		<servlet-name>z_redirector</servlet-name>
		<servlet-class>com.sabratec.j2ee.http.redirector.servlet.GXRedirectorServlet</servlet-class>
	</servlet>
	<servlet id="z_container">
		<servlet-name>z_container</servlet-name>
		<servlet-class>com.sabratec.applinx.j2ee.framework.web.GXFramesetServlet</servlet-class>
	</servlet>
	<servlet id="z_keyboardMappings">
		<servlet-name>z_keyboardMappings</servlet-name>
		<servlet-class>com.sabratec.applinx.j2ee.framework.web.GXKeyboardMappingsServlet</servlet-class>
	</servlet>
	<servlet id="z_screenSeqNumber">
		<servlet-name>z_screenSeqNumber</servlet-name>
		<servlet-class>com.sabratec.applinx.j2ee.framework.web.GXScreenSeqNumberServlet</servlet-class>
	</servlet>
	<servlet id="z_clientConfig">
		<servlet-name>z_clientConfig</servlet-name>
		<servlet-class>com.sabratec.applinx.j2ee.framework.web.GXClientConfigServlet</servlet-class>
	</servlet>
     <servlet id="z_emulationDialogs_ndtDownloadWin">
	 	<servlet-name>z_emulationDialogs_ndtDownloadWin</servlet-name>
	 	<servlet-class> com.sabratec.applinx.j2ee.framework.web.ndt.GXNdtDownloadWinServlet</servlet-class>
	 </servlet>
	
	 <servlet-mapping id="z_resourceReader_servletmapping">
		<servlet-name>z_resourceReader</servlet-name>
		<url-pattern>/z_resourceReader.jsp</url-pattern>
	</servlet-mapping>
	 <servlet-mapping id="z_redirector_servletmapping">
		<servlet-name>z_redirector</servlet-name>
		<url-pattern>/z_redirector.jsp</url-pattern>
	</servlet-mapping>
	 <servlet-mapping id="z_container_servletmapping">
		<servlet-name>z_container</servlet-name>
		<url-pattern>/z_container.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="z_keyboardmappings_servletmapping">
		<servlet-name>z_keyboardMappings</servlet-name>
		<url-pattern>/z_keyboardMappings.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="z_screenSeqNumber_servletmapping">
		<servlet-name>z_screenSeqNumber</servlet-name>
		<url-pattern>/z_screenSeqNumber.jsp</url-pattern>
	</servlet-mapping>	
	<servlet-mapping id="z_clientConfig_servletmapping">
		<servlet-name>z_clientConfig</servlet-name>
		<url-pattern>/z_clientConfig.jsp</url-pattern>
	</servlet-mapping>	
	<servlet-mapping id="z_emulationDialogs_servletmapping">
		<servlet-name>z_emulationDialogs_ndtDownloadWin</servlet-name>
		<url-pattern>/z_emulationDialogs/z_ndtDownloadWin.jsp</url-pattern>
	</servlet-mapping>

	<!-- Uncomment the GXCheckURLProxyFilter filter to activate the URL permission filter, based on the content of URLPermissions.properties file -->
    <!-- <filter>
		<filter-name>GXCheckURLProxyFilter</filter-name>
		<filter-class>com.sabratec.applinx.j2ee.framework.web.filters.GXCheckURLProxyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GXCheckURLProxyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	<!-- End ApplinX framework required definitions -->


	<!-- *****************    BEGIN COMMENT  - UNCOMMENT FOR RUNNING APPLINX SERVER IN LOCAL MODE  *****
	 <servlet-mapping id="execwebservice_bare_servletmapping">
		<servlet-name>forward</servlet-name>
		<url-pattern>/bare-service/*</url-pattern>
	</servlet-mapping>
	 <servlet-mapping id="execwebservice_wrapped_servletmapping">
		<servlet-name>forward</servlet-name>
		<url-pattern>/wrapped-service/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="serverManagerWS">
		<servlet-name>forward</servlet-name>
		<url-pattern>/services/ServerManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="serviceManagerWS">
		<servlet-name>forward</servlet-name>
		<url-pattern>/services/ServiceManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="sessionManagerWS">
		<servlet-name>forward</servlet-name>
		<url-pattern>/services/SessionManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="connInfoManagerWS">
		<servlet-name>forward</servlet-name>
		<url-pattern>/services/ConnectionInfoManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="programPoolManagerWS">
		<servlet-name>forward</servlet-name>
		<url-pattern>/services/ProgramPoolManager</url-pattern>
	</servlet-mapping>
	 <servlet-mapping id="generatecode_csharp_servletmapping">
		<servlet-name>generatecode_csharp</servlet-name>
		<url-pattern>/csharp-service/*</url-pattern>
	</servlet-mapping>
	 <servlet-mapping id="generatecode_vbnet_servletmapping">
		<servlet-name>generatecode_vbnet</servlet-name>
		<url-pattern>/vb-service/*</url-pattern>
	</servlet-mapping>
	 <servlet-mapping id="generatecode_java_servletmapping">
		<servlet-name>generatecode_java</servlet-name>
		<url-pattern>/java-service/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="generate_screens_servletmapping">
		<servlet-name>generate_screens</servlet-name>
		<url-pattern>/generate-screens</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="generate_page_servletmapping">
		<servlet-name>generate_page</servlet-name>
		<url-pattern>/generate-page</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="generate_instant_servletmapping">
		<servlet-name>generate_instant</servlet-name>
		<url-pattern>/generate-instant</url-pattern>
	</servlet-mapping>
	 <servlet-mapping id="metadata_servlet_newmapping">
		<servlet-name>services</servlet-name>
		<url-pattern>/services</url-pattern>
	</servlet-mapping>
*****************     END COMMENT    ************************************************************* -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
